@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600);

.container{
	max-width: 960px;
	margin: 0 auto;

}

body {
	font-family: 'Open Sans', sans-serif;
	color: white;
	text-shadow: 2px 2px black;
	background: url('/assets/earth.jpg') no-repeat center center fixed;
	background-size: cover; 
}

nav{
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
nav li{
    display:inline;
}

a, a:visited{
    display:inline-block;
    padding:10px;
    color: yellow;
    text-decoration: none;
}
a:hover {
	color: #D79352
}

span {
	color: yellow;
	text-align: center;
	text-decoration: bold;
}
.show_image {
	width: 500px;
	height: 500px;
	border: 2px solid black;
}

.show_image img {
	width:100%;
	height:100%;
}

.index_square {
	width: 300px;
	height: 300px;
	border: 2px solid black;
	text-align: center;
	display: inline-table;
	background-color: rgba(0, 11, 15, 0.5);
}

.index_square img {
	width: 290px;
	height: 275px;
}

.index_square p {
	float: bottom;
}

.home_page {
	width: 300px;
	text-align: center;
	display: inline-table;
}

.home_page img{
	width: 280px;
	height: 280px;
	border-radius: 100%;
	border: 1px solid black;
}

label, input {
	display: block;
	width: 300px;
}