<div id="headerwrap">
	<header class="clearfix">
  		<h1><span>Movie Kitty!</span> Holds your mew-vie on paws. </h1>

		<div class="container">
			<div class="row">

	<!-- THE FORM IS HERE -->
					<form action="/search_results"> 

					  <label for="movie_name">
					  	<h2>What do you feline watching?</h2>
					  </label>
					 
					  <input type="text" name="movie_name" placeholder="The AristoCats" class="cform-text" size="40" title="movie_name">

					  <input type="submit" value="Search Meow!" class="cform-submit">

					 </form>
			</div>
		</div>
    </header>
 </div>