<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Movie Monkey</title>
	<link rel="stylesheet" href="normalize.css">
	<link rel="stylesheet" href="style.css">
</head>

<body>

	<header class="header">
		<h1> <a href='/'>Movie Monkey</a></h1>
	</header>
	
	<div class="content">
	<%= yield %>
	</div>
	<footer>
		
	</footer>

</body>

</html>