<form action="/search_result">

	<label for="movie_input" >Enter a movie and click Search</label>
	<div class="input_button">
		<input style="text" name="movie_input" id="movie_input" placeholder="E.g. Death Proof"></input>
		<button >Search</button>
	</div>

</form>