<h2>This is the meme</h2>

<form method="post" action="/memes">
	<label for="name">Name:</label>
	<input type="text" id="name" name="name" placeholder="Put Name Here">

	<label for="url">URL</label>
	<input type="text" id="url" name"url" placeholder="url here">

	<label for="description">Description</label>
	<input type="text" id="description" name="description" placeholder="description here">

</form>