<html>
<h1>
	<title>Pair Programming</title>
</h1>
<head>
<style>

a:link {
	background-color: green;
}


</style>


</head
<body>
	<link rel="stylesheet" href="/pair_work_style.css">
	<%= yield %>



</body>





</html>
