<h1>Subway Stop Counter</h1>

<form action="/" method="post">
  <label for="origin">Departure Station: </label>
  <input type="text" id="origin" name="origin" placeholder="Enter Station Name">

  <label for="destination">Destination Station: </label>
  <input type="text" id="destination" name="destination" placeholder="Enter Station Name">

  <input type="submit" value="Create receipt">
</form>