<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Movie Search</title>
	<link rel="stylesheet" href="normalize.css">
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<div class="container">

		<nav>
			<h1>
				Movie Search
			</h1>
		</nav>

		<div class="movie_title">
			<p> The movie you have searched for is <%= params['movie_title'] %> </p>
		</div>

		<%= yield %>
		<footer>
			&copy; 2014
		</footer>
	</div>
</body>
</html>