<!-- <h1>Welcome to the MTA</h1>

<h2> Please select your departure and arrival station </h2>

<form action="/trains">
 	<div class="dropdown_departure">
		<label for="departure_station">Departure Station: </label>
		<select name="Departure_Station" id="departure_station">
	</div>

	<div>
<%n.each do |n| %>
<option>"n"</option>
<% end %>





 	<div class="Submit">
		<button>Get directions!</button>
	</div>

</form>


 -->