body {
	background-image: url('http://s3files.core77.com/blog/images/2013/12/RobertBacon-SuperNewYorkCitySubway-HERO.jpg');
	background-size: cover;
	color: yellow;
	text-shadow: 2px 2px black;
	line-height: 30px;
}

h1{
	text-align: center;
	max-width: 800px;
}

.header{
	position: relative;
	top: 150px;
}

.header h1{
	font-family: 'Luckiest Guy', cursive;
	text-shadow: 3px 3px black;
	font-size: 50px;
	color:red;
	max-width: 960px;
	margin: auto;
}

.container {
	position:relative;
	top:170px;
	max-width: 960px;
	margin: auto;
	background-color: green;
	font-size: 20px;
	padding: 15px;
	opacity: 0.9;
}

a {
	color: #155CEF;
}

select, button{
	color: black;
}

button{
	position:relative;
	left: 70%;
	border-radius: 8px;
	background-color:#729FFD;
}

button:focus{
	outline:none;
}

button:hover{
	background-color:#155CEF;
	box-shadow: 3px 3px black;
}

form, p, a{
	font-size: 30px;
}

.dep p, .arr p{
	min-width: 300px;
	display: inline-block;
	text-align: right;
}

section{
	position: absolute;
	top: 450px;
	right: 170px;
	display:inline-block;
}

section img {
	height: 400px;
}

select{
	background-color:#F6BA94;
}

select:hover{
	box-shadow: 3px 3px black;
}