<h1>Lanscape Gardening Pty Ltd</h1>

<ul>
  <li>Company name: <em>Landscape Gardening Pty Ltd</em></li>
  <li>Good/service provided: <em><%= params['service'] %></em></li>
  <li>Cost: $ <em><%= params['cost'] %></em></li>
  <li><strong>Thank you.</strong></li>
</ul>