<h1>Let's play Rock, Paper, Scissors, Lizard, Spock!</h1>
<h2>Rules:</h2>
<ul>
	<li>Scissors cut Paper</li>
	<li>Paper covers Rock</li>
	<li>Rock crushes Lizard</li>
	<li>Lizard poisons Spock</li>
	<li>Spock smashes Scissors</li>
	<li>Scissors decapitate Lizard</li>
	<li>Lizard eats Paper</li>
	<li>Paper disproves Spock</li>
	<li>Spock vaporizes Rock</li>
	<li>Rock crushes Scissors</li>
</ul>

<h2>Which do you want to play?</h2>

<form action="/rockpaperscissors/result">
  <label for="rock" name="user_answer">Rock</label>
  <input type="radio" name="user_answer" id="rock" value="rock"><br>

  <label for="paper">Paper</label>
  <input type="radio" name="user_answer" id="paper" value="paper"><br>

    <label for="scissors">Scissors</label>
  <input type="radio" name="user_answer" id="scissors" value="scissors"><br>

  <label for="lizard">Lizard</label>
  <input type="radio" name="user_answer" id="lizard" value="lizard"><br>

  <label for="spock">Spock</label>
  <input type="radio" name="user_answer" id="spock" value="spock"><br>

  <input type="submit" value="Submit">
</form>