<h1>Let's play Rock, Paper, Scissors, Lizard, Spock!</h1>
<h2>Rules:</h2>
<img class="rules" src="/assets/rock.png">

<h2>Which do you want to play?</h2>

<form action="/rockpaperscissors/result">
<div class="selection_options" >
  <label for="rock" name="user_answer">Rock <img src="/assets/rock.jpg">
</label>
  <input type="radio" name="user_answer" id="rock" value="rock"><br>
</div>
<div class="selection_options" >
  <label for="paper">Paper <img src="/assets/paper.jpg"></label>
  <input type="radio" name="user_answer" id="paper" value="paper"><br>
</div>
<div class="selection_options" >
    <label for="scissors">Scissors <img src="/assets/scissors.jpg"></label>
  <input type="radio" name="user_answer" id="scissors" value="scissors"><br>
</div>
<div class="selection_options" >
  <label for="lizard">Lizard <img src="/assets/lizard.jpg"></label>
  <input type="radio" name="user_answer" id="lizard" value="lizard"><br>
</div>
<div class="selection_options" >
  <label for="spock">Spock <img src="/assets/spock.jpg"></label>
  <input type="radio" name="user_answer" id="spock" value="spock"><br>
</div>

  <input type="submit" value="Submit">
</form>