<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>MTA</title>
	<link rel="stylesheet" href="style.css">
	<link href='http://fonts.googleapis.com/css?family=Francois+One' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="menu_top">
				<div class="link link_home"><a href="/">Home</a></div>
			<div class="link select_route"><a href="/trip">Plan Trip</a></div>
		</div>
	<div class="container">
		
	<a href="/"><img class="logo" src="http://upload.wikimedia.org/wikipedia/commons/3/3c/MTA_NYC_logo.svg"></a>
	<%= yield %>
	</div>
</body>
</html>