
<div class="plan_trip">
<form action="/result" method="get">
	<div class="start_point">
		<h3>Where would you like to go?</h3>
		<label for="start" class="label">I want to go from</label>
			<select name="get_on" id="starting_point_menu">
				<option value="1">1st</option>
				<option value="2">3rd</option>
				<option value="3">6th</option>
				<option value="4">8th on N</option>
				<option value="5">8th on L</option>
				<option value="6">23rd on N</option>
				<option value="7">23rd on 6th</option>
				<option value="8">28th on N</option>
				<option value="9">28th on 6th</option>
				<option value="10">33rd</option>
				<option value="11">34th</option>
				<option value="12">Union Square</option>
				<option value="13">Astor Place</option>
				<option value="14">Times Square</option>
			</select>
	</div>

	<div class="finish_point">
		<label for="end" class="label">to</label>
			<select name="get_off" id="finish_point_menu">
				<option value="1">1st</option>
				<option value="2">3rd</option>
				<option value="3">6th</option>
				<option value="4">8th on N</option>
				<option value="5">8th on L</option>
				<option value="6">23rd on N</option>
				<option value="7">23rd on 6th</option>
				<option value="8">28th on N</option>
				<option value="9">28th on 6th</option>
				<option value="10">33rd</option>
				<option value="11">34th</option>
				<option value="12">Union Square</option>
				<option value="13">Astor Place</option>
				<option value="14">Times Square</option>
			</select>
	</div>
	<input class="button" type="submit" value="GO">

</form>
</div>


