<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="normalize.css">
	<link rel="stylesheet" href="foundation.css">
	<link rel="stylesheet" href="foundation.min.css">
	<link rel="stylesheet" href="style.css">
	<link href='http://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
	<title>Movie Poster Generator</title>
</head>
<body>
	<div class="container">
		<nav>
			<h1>Movie Poster <span>Generator</span></h1>
		</nav>
		<div class = "output">
			<%= yield %>
		</div>

	</div>
</body>
</html>
