<h1>What are meerkats?</h1>
<h3>Meerkats are cute animals that love to play!</h3>

<h1>What is this website about?</h1>
<h3>Play some fun games with the meerkats hidden inside your computer.</h3>

<h1>But I don't want to play with them.</h1>
<h3>Too bad. You don't have a choice.</h3>