<h1>What do you feel like playing?</h1>

<a href="/magic"><h3>Magic 8 Ball</h3></a>
<a href="/secret"><h3>Guess the Secret Number</h3></a>
<a href="/rockpaperscissors"><h3>Rock Paper Scissors</h3></a>