<h1>What do you feel like playing?</h1>

<div class="game_options">
	<a href="/magic">
		<img src="/assets/magic8.gif">
		<h3>Magic 8 Ball</h3>
	</a>
</div>
<div class="game_options">
	<a href="/secret">
		<img src="/assets/number.jpg">
		<h3>Guess the Secret Number</h3>
	</a>
</div>
<div class="game_options">
	<a href="/rockpaperscissors">
		<img src="/assets/rock.png">
		<h3>Rock Paper Scissors Lizard Spock</h3>
	</a>
</div>