<!DOCTYPE html>
<html>
<head>
  <title>Gam-meer Kat</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/magic">Magic 8 Ball</a></li>
		<li><a href="/secret">Secret Number</a></li>
		<li><a href="/rockpaperscissors">Rock Paper Scissors</a></li>
		<li><a href="/about">About</a></li>

	</ul>

</nav>

<%= yield %>

</body>
</html>
