@import url(http://fonts.googleapis.com/css?family=Oswald);

body {
background-color: #eee;
font-family: 'Oswald', sans-serif;
}

a {
color: #444;
}

.container {
max-width: 960px;
margin: auto;
}

nav ul {
list-style: none;
padding-left: 0;
margin: 30px;
text-align: center;
}

nav li {
display: inline;

}

.butterfly img {
max-width: 200px;
display: block;
margin: auto;
box-shadow: 0px 5px 5px black;
}

.butterfly {
text-align: center;
}

.butterfly section {
text-align: right;
}

.butterflies img {
	max-height: 200px;
margin: auto;
display: block;
}

.butterflies li {

width: 220px;
display: inline-block;
border: 1px solid black;
text-align: center;
overflow: hidden;
}

.butterflies ul {
list-style: none;
padding-left: 0;
}

h1 {
text-align: center;	
}



