<div class="form_container">
	<form action='/search_results'>
		<input type="text" name="movie_title" placeholder="Enter Movie Title"></input>
		<button class="search_button">
			Search
		</button>
	</form>
</div>