<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Movies</title>
	<link rel="stylesheet" href="normalize.css">
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<div class="main_container">
		<!-- BEGIN: Sticky Header -->
		<div class="header_container">
			<div class="header">
				<p>HEADER CONTENT</p>
					<!-- <a href="/">MOVIE SEARCH</a> -->
			</div>
		</div>
		<!-- END: Sticky Header -->

		<!-- BEGIN: Page Content -->
		<div class="container">
			<div class="content">


					<%= yield %>


			</div>
		</div>
		<!-- END: Page Content -->

		<!-- BEGIN: Sticky Footer -->
		<div class="footer_container">
			<div class="footer">
				<p>FOOTER CONTENT</p>
			</div>
		</div>
	</div>
</body>
</html>





