<h1>Build a mountain!</h1>
<form action='/oceans' method="post">
	<div class="entry">
		<label>Name: </label>
		<input type="text" name="ocean[name]" autofocus>
	</div>
	<div class="entry">
		<label>Image: </label>
		<input type="text" name="ocean[image]"  >
	</div>

		<div class="entry">
		<label>Depth: </label>
		<input type="text" name="ocean[depth]"  >
	</div>

	<div class="entry">
		<label>Area: </label>
		<input type="text" name="ocean[area]"  >
	</div>
	
		<div class="entry">
		<label>Volume: </label>
		<input type="text" name="ocean[volume]"  >
	</div>

	
<button>Submit</button>
</form>