<h2>New Receipt</h2>

<form action="/" method=POST>
	<div class="input-group">
		<label for="service">Service Provided: </label>
		<input type="text" id="service" name="service" placeholder="Lawn edging">
	</div>

	<div class="input-group">
		<label for="cost">Cost $: </label>
		<input type="text" id="cost" name="cost" placeholder="312.98">
	</div>

	<div class="input-group">
		<label></label>
		<input type="submit" value="Create Receipt">
	</div>

</form>