body {
	background-color: black;
	font-family: Helvetica;
	text-align: center;
}

p {
    color: #fff;	
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
	font-family: "Tahoma", "Verdana", "Helvetica", "Arial", sans-serif;
	font-size: 40px;
	font-weight: bold;
	margin-top: 200px;
	margin-bottom: 10px;
}

.YESbutton {
	color: white;
	border-radius: 4px;
	background: rgb(28, 184, 65); /* this is a green */
	font-size: 200%;
	/*padding: 10px 30px;*/
}

.NObutton {
	color: white;
	border-radius: 4px;
	background: rgb(202, 60, 60);
	font-size: 200%;
}

.CONTbutton{
	color: white;
	border-radius: 4px;
	background: rgb(223, 117, 20);
	font-size: 200%;
}

.DONEbutton{
	color: white;
	border-radius: 4px;
	background: rgb(66, 184, 221);
	font-size: 200%;
}