<h2>Magic 8 Ball</h2>

<p>Welcome to the Magic 8 Ball!</p>

<div class="eight-ball-outer">
	<div class="eight-ball-inner">

	</div>
</div>
<a href="/magic8ball/shake"><button>Shake The Ball</button></a>