<h2>Magic 8 Ball</h2>

<p>You shook the ball!</p>

<div class="eight-ball-outer shake">
	<div class="eight-ball-inner">
		 <p><%= @answer %></p>
	</div>
</div>

<p>The Eight Ball replies: <%= @answer %></p>

<a href="/magic8ball/shake"><button>Shake Again</button></a>