<h1>Where would you like to visit?</h1>

<div class="home_page">
	<a href="/mountains">
	<p><%= image_tag "mountain_home.jpg" %></p>
	<h2>Mountains</h2></a>
</div>
<div class="home_page">
	<a href="/oceans">
	<p><%= image_tag "ocean_home.jpg" %></p>
	<h2>Oceans</h2></a>
</div>
<div class="home_page">
	<a href="/wonders">
	<p><%= image_tag "wonder_home.jpg" %></p>
	<h2>Wonders of the World</h2></a>
</div>