<h1>Welcome to the home page about the most interesting parts of the world!</h1>


<a href="/mountains"><h2>Mountains</h2></a>
<a href="/oceans"><h2>Oceans</h2></a>
<a href="/wonders"><h2>Wonders of the World</h2></a>