<form action"/home">
	<p>Do you have a test for that?</p>
	
<button class="yes btn-large btn-success big-btn">
	<a href="/pass">Yes</a>
</button>

<button class="no btn-large btn-success big-btn">
	<a href="/write_test">No</a>
</button>
</form>
