<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pair Programming</title>
  <link rel="stylesheet" href="/bootstrap-conbined.min.css" />
  <link rel="stylesheet" href="/style.css" />
</head>

<body>
	<%= yield %>



</body>




</html