<form action"/pass">
	<p>Does the test past?</p>

<button class="yes btn-large btn-success big-btn">
	<a href="/refactor">Yes</a>
</button>

<button class="no btn-large btn-success big-btn">
	<a href="/write_code">No</a>
</button>

</form>