<form action"/refactor">
	<p>Need to refactor?</p>

<button class="yes btn-large btn-success big-btn">
	<a href="/do_refactor">Yes</a>
</button>
<button class="no btn-large btn-success big-btn">
	<a href="/new_feature">No</a>
</button>

</form>