<p>Do you have a test for that?</p>

<form action="/pair">
	<input type="submit" name="NAME" class="YESbutton"value="YES"</input>
	<input type="submit" name="NAME" class="NObutton" value="NO"</input>
</form>