<p>Does the test pass?</p>

<form action="/testpass">
	<input type="submit" name="NAME" class="YESbutton" value="YES"</input>
	<input type="submit" name="NAME" class="NObutton" value="NO"</input>

</form>