<DOCTYPE! html>

<html>
<head>
	<title>MemeTube</title>
	<link ref="stylesheet" href="layout.css">
</head>
<body>
	<div class="container">

	<nav>
		<ul>
			<li> <a href="/">Home</a></li>
			<li> <a href="/videos/new">New</a></li>
			<li> <strong>Genres: </strong> </li>

		</ul>	
	</nav>

<h1> Memetube </h1>

		<%= yield %>

	</div>
</body>
</html>