<DOCTYPE! html>

<html>
<head>
	<title>MemeKitty</title>
	<link rel="stylesheet" href="/layout.css">
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,500,700,600' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="container">
	   <img class="nyancat" src="http://nyan-cat.com/images/nyan-cat.gif" width="200px" height="auto">

	<nav>

<audio loop="loop" src="https://developer.cdn.mozilla.net/media/uploads/demos/m/i/michalbe/b98068664ab172a4a4bbfb59fd90f033/css-nyan-cat_1308881152_demo_package/nyancat.ogg" autoplay="true" controls>
</audio>

	   <h1>MemeKitty with Nyan Cat</h1>
	   <ul id="nav">
			<li> <a href="/">Home</a></li>
			<li> <a href="/videos/new">New</a></li>
   		</ul>
	</nav>


	
		<%= yield %>


	<div class="footer">
		<h3>&copy Jade Feng. Web Development Immersive 6.</h3>
	</div>
	</div>
</body>
</html>