<DOCTYPE! html>

<html>
<head>
	<title>MemeTube</title>
	<link rel="stylesheet" href="/layout.css">
</head>
<body>
	<div class="container">

	<nav>
		<ul>
			<li> <a href="/">Home</a></li>
			<li> <a href="/videos/new">New</a></li>

      </ul>		
	</nav>

<h1> Memetube </h1>
	<div class="container">
	
		<%= yield %>

	</div>
</body>
</html>