<DOCTYPE! html>

<html>
<head>
	<title>MemeKitty</title>
	<link rel="stylesheet" href="/layout.css">
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,500,700,600' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="container">

	<nav>
	   <h1>MemeKitty with Nyan Cat</h1>
   
   <!-- Here's all it takes to make this navigation bar. -->
   <ul id="nav">
		<li> <a href="/">Home</a></li>
		<li> <a href="/videos/new">New</a></li>
    </ul>
	</nav>


	<div class="container">
	
		<%= yield %>

	</div>
</body>
</html>