<h2>Add a new video!</h2>

<form method="post" action="/videos">
	<label for="title"> Title: </label>
	<input id="title" name="title" placeholder="Video name">

	<label for="description"> description: </label>
	<input id="Description" name="description" placeholder="Cooking video">

	<label for="URL_code"> URL: </label>
	<input type="url" id="URL_code" name="URL_code" placeholder="http://youtube.com">

	<label for="genre"> Genre: </label>
	<input id="genre" name="genre" placeholder="Comedy">

	<button> Update video! </button>
</form>