body {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
}

nav {
  background-color: #0077C0;
  color: white;
  padding: 1em 0;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  color: white;
}

#search_bar {
  text-align: center;
}

.container {
  max-width: 960px;
  margin: auto;
  padding-left: 1em;
}

.field_with_errors {
  display: inline;
}

.field_with_errors input {
  background-color: green;
  color: red;
}

label {
  display: inline-block;
  min-width: 150px;
  text-align: right;
}