<!DOCTYPE html>

<html lang="en">

<head>
 	<meta charset="UTF-8">
 	<title>MTA LABS</title>
 	<link rel="stylesheet" href="normalize.css">
 	<link rel="stylesheet" href="style.css">
</head>

<body>
	<div class="container">
		<nav>
			<ul>
				<h1>
 				<a href="/">Home - Pick Your Station</a>
				</h1>		
			</ul>
		</nav>
		<%=yield %>
 	<footer>&copy; 2014 etc GA WDi6 - Haters gonna Hate!</footer>
 	</div>
</body>
</html>