<div class="rockpaper_result">
<h3> You picked: <%= @object %> </h3>

<h2><p> The simulator picked: <%= @answer %> </p></h2>

<h4><p><%= @response %></p></h4>

<form action="/rockpaperscissors">
	<input type="submit" value="Play Again">
</form>
</div>