<div class="secretnum_result">
<h2> You entered: <%= @number %> </h2>

<h2> The correct number is: <%= @result %> </h2>

<h4><%= @message %></h4>

<form action="/secretnum">
	<input type="submit" value="Play Again">
</form>
</div>
