
<div class="secretnum_result">
<h2>Please enter a number between 1 and 10: </h2>
<form action="secretnum/result">
<select name="number">
	<% (1..10).each do |x| %>
<option value="<%= x %>" selected><%= x %></option>
	<% end %>
</select>
<button>Go</button>
</form>
</div>

