<% @oceans.each do |ocean| %>
	<p>
 		The <%= link_to(ocean.name, ocean_path(ocean.id)) %> has a volume of <%= pluralize(ocean.volume, 'cubic kilometres') %> and it's neighbouring countries are  <%= (ocean.continent) %> 
 	</p>
<% end %>
