html{
	font-family: Arial;
}

nav {
  color: white;
  background-color: rgba(44, 50, 43, 0.8);
  padding: 1em;
}

nav a {
  color: white;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}

nav li {
  display: inline;
}