<!DOCTYPE html>
  <head>
  <title>Welcome To The Movie Poster Database</title>
  
  <link rel="stylesheet" href="normalize.css">
  <link rel="stylesheet" href="style.css">
  
</head>
<body>
<center>
  <div class="container">

    <h1> THE MOVIE POSTER DATABASE </h1>
</centre>
</body>

<%= yield %>

<footer>

</footer>


