<h1>Stoner Landscape Gardening Pty</h1>

<ul>
	<li>Company name <em>Stoner Landscape Gardening Pty</em></li>
	<li>Good/service provided: <em><%= params['service']%></em></li>
	<li>Cost: <em><%= params['cost'] %></em></li>
	<li><b>Thank you for your custom, missing you already.</b></li>
</ul>