<!-- Printing results
 --> 

<h1>Mta Single</h1>
<h2>Results</h2>

<p>Total number of stops <%= @mta.number_of_stations %></p>

<!-- calling the method from mtasingle.rb  -->
<!-- mta instance variable is = to number of stations