<section class="form-section">

	<div id="search_logo">
			Search!
	</div>
	<form action="/search">
		<input type="search" name="search_string" placeholder="Inception">
		<button>SEARCH</button>
	</form>
	<a href="/searchwall"><button id="searchwall">SEARCH WALL</button></a>
</section>