<!DOCTYPE html>
<html>
<head>
	<title>Postr</title>
	<link rel="stylesheet" href="normalize.css">
	<link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="style.css">

</head>
<body>
	<div class="container">
		<header>
			<h1><a href="/"> Postr</a> </h1>
			<h3> A Search For Movie Posters </h3>
		</header>

		<%= yield %>

		<footer>
			<p> &copy; 2k14 Nick Tho - WDI 6 SYD</p>
		</footer>
	</div>
</body>
</html>