<section class="form-section">
	<% unless @error == true %>
		<h2> The poster for <em><%= @movie_name %></em> </h2>
		<p><img src="<%= @poster_url %>"></p>
		<h4>Rating: <%= @rating %></h4>
	<% else %>
		<h2><em><%= @movie_name %></em> doesn't exist!</h2>
	<% end %>

	<div id="search_logo">
		Search Again!
	</div>
	<form action="/search">
		<input type="search" name="search_string" placeholder="Inception">
		<button>SEARCH</button>
	</form>
</section>
