<!DOCTYPE html>
  <head>
  <title>Welcome To The Movie Poster Database</title>
  
  <link rel="stylesheet" href="normalize.css">
  <link rel="stylesheet" href="style.css">
  
</head>
<body>

<div class="container">
		
<%= yield %>

</div>

<div class="plot">


</div>

</body>



<footer>

</footer>


