<div id="headerwrap">
	<header class="clearfix">
  		<h1><span>Movie Kitty!</span> Holds your movie on paws. </h1>

		<div class="container">
			<div class="row">

				<div class="span12">
	<!-- THE FORM IS HERE -->
					<form action="/search_results"> 

					  <label for="movie_name">
					  	<h2>What do you want to watch?</h2>
					  </label>
					 
					  <input type="text" name="movie_name" placeholder="The Aristocats" class="cform-text" size="40" title="movie_name">

					  <input type="submit" value="Meow!" class="cform-submit">

					 </form>
				</div>
			</div>
		</div>
    </header>
 </div>