<!DOCTYPE HTML>

    <html lang="en">
    <head>
    <meta charset="utf-8">
    <title>Movie Kitty</title>

    <link href="bootstrap.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">

    <!-- Google Web fonts -->
    <link href='http://fonts.googleapis.com/css?family=Quattrocento:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <style>
    body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    }
    </style>

    <link href="bootstrap-responsive.css" rel="stylesheet">
    
    </head>

<!-- BODY STARTS HERE!!!!!!!!! -->

    <body>
    <!--******************** NAVBAR ********************-->
    <div class="navbar-wrapper">
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            
            <h1 class="brand"><a href="/">Movie Kitty</a></h1>
          </div>
          <!-- /.container -->
        </div>
        <!-- /.navbar-inner -->
      </div>
      <!-- /.navbar -->
    </div>
    <!-- /.navbar-wrapper -->
    <div id="top"></div>
   
<!-- ******************** HeaderWrap ********************-->
<div>

            <%= yield %>


 </div>
    </body>
    </html>
