

<a href="/home">Home</a>
<a href="/about">About</a>
<a href="/faq">FAQ</a>
<div>
<a href="/magic8"><img src="/assets/magic8.jpg"></a>
</div>
<div>
<a href="/snumber"><img src="/assets/snumber.jpg"></a>
</div>


<p>This is a homepage</p>