<!doctype html>
<html lang="en">
	
	<head>
		<meta charset="UTF-8">
		<title>Movie Search</title>
		<link rel="stylesheet" href="normalize.css">
		<link rel="stylesheet" href="style.css">
	</head>
	
	<body>
		<h1>Welcome to your movie search tool</h1>
		<%= yield %>
	</body>

</html>