
 
<p>Your movie is <%= @movie['Title'] %></p>
<img src="<%= @poster %>"> 




<!-- <section class="search_form">
<form action="/result">
	<label for="movie_title">Enter a movie:</label>
	<input type="text" name="movie_title" id='movie_title' placeholder="E.g. The Social Network">
	</input>
	<button>Search</button>
</form>
</section> -->