/* 
Project Name: Ecard.ly
Client: General Assembly 
Author: Christopher Castig | @castig
Developer @GA in NYC
*/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

body{
     background-color: #d6d6d6;
     color: #000000;
}

.container{
     position:relative;
     max-width: 940px;
     margin: auto;
     margin-top: 90px;
     border:1px solid red;
     display: block;
}

.content{
     position: relative;
     width: 640px;
     border: 1px solid black;
     background-color: white;
     display:inline-block;
     padding: 20px;
}

.sidebar{
     position:absolute;
     width: 280px;
     top: 0;
     border:1px solid green;
     background-color: white;
     left: 640px;
     margin-left:20px;
}

h2{
     font-size: 20px;
}

p{
     font-size: 12px;
}

header{
     position:relative;
     width:100%;
     border:2px dashed green;
}

header{
     background-image: url('../images/background.jpg');
     background-repeat: repeat-x;
     height: 168px;
}
/*
.logo{
     font-size: 400%;
     border:1px solid black;
     display:inline-block;
     margin: auto;
     position: center;
}*/

footer {
  position: relative;
  bottom: 0;
  left: 0;
  height: 100px;
  width: 100%;
  border:1px dashed red;
}

footer img{
     text-align: center;
     display: inline-block;
}





