<p class="text"><%= @item[:title] %></p>

<div class='row'>
<ul class="buttons">
<li>

	<a class="yes btn-large btn-success" href="/?id=<%= @item[:yes] %>">Yes</a>                
	<a class="no btn-large btn-danger" href="/?id=<%= @item[:no] %>">No</a>
</li>


</ul>
</div>