<h1>Find a Wonder!</h1>
<form action='/wonders' method="post">	
	
	<div class="entry">
		<label>Name: </label>
		<input type="text" name="wonder[name]" autofocus>
	</div>
	<div class="entry">
		<label>Image: </label>
		<input type="text" name="wonder[image]"  >
	</div>

	<div class="entry">
		<label>Country: </label>
		<input type="text" name="wonder[country]"  >
	</div>
		<div class="entry">
		<label>Continent: </label>
		<input type="text" name="wonder[continent]"  >
	</div>


<button>Submit</button>
</form>