<p>What do you want to ask the magic 8 ball? </p>

<form action="/magic_ball/response" method="post">
<input type="text" name="request" placeholder="What do you want?">
<button>Your done for</button>
</form> 