this is the rock scissors paper page

<form action="/rock_paper_scissors/result" method="post">

	<input type="radio" name="game" value="rock">Rock<br>
	<input type="radio" name="game" value="scissors">Scissors<br>
	<input type="radio" name="game" value="paper">Paper<br>
	<button>Submit</button>

</form>
