Guess a number between 1 to 10 

<form action="/secret_number/answer" method="post">

	<input type="text" name="guess" placeholder="Guess a number between 1 and 10">
	
	<input type="hidden" name="hidden" value="<%= @number %>">

	<button>Guess</button>


</form>