
<% if @number.to_i == @answer.to_i %>
	<p> Congrats you guessed right </p>
<% else %>
	<p>try again</p>

	<form action="/secret_number/answer" method="post">

		<input type="text" name="guess" placeholder="Guess a number between 1 and 10">

		<input type="hidden" name="hidden" value="<%= @number %>">

		<button >Guess</button>

	</form>

<% end %>