<h1 class="main">Would you like to add a Planet or Ocean?</h1> 



<a href="/planets/new"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOT0b5DBcLwrSVA6Sq8-ajR8dNsYd0hwAYqc9jVrbXjkbzB6oXFw"></a>
<a href="/oceans/new"><img src="http://www.earthtimes.org/newsimage/oceans_evolution_oxygen_animals_27111.jpg">
