 <h1>Enter a number</h1>
 <form action="/secretnumber/number">
  <input name='number' placeholder="Enter a number between 1 and 10"> 
  <button>Go!</button>
</form>

<p>The computer chose <%= @computer_number %> and you chose <%= @user_input %></p>

<%= @reply %>



