<h1>Keep t-rawr-k of your fav-fur-ite books with Library Kitty</h1>
<div class="show_column">
<a href="/authors"><img class="button_icon" src="http://31.media.tumblr.com/tumblr_m5mlt6a0EH1qhy6c9o1_400.gif">
<h1>Authors</h1>
</a>
</div>

<div class="show_column">
<a href="/books"> <img class="button_icon" src="/assets/icon.jpg"> 
<h1>Books</h1>
</a>
</div>

<div class="show_column">
<a href="/users"> <img class="button_icon" src="http://2.bp.blogspot.com/-digRLJk78m8/Un-_AXKQp7I/AAAAAAAABJY/u4wpxwpnoDs/s1600/Pusheen+18.png"> 
<h1>Users</h1>
</a>
</div>