<h1> Welcome to the New York Subway </h1>

<form action="/request" action="post">

<div class="station_question">
	<label for "onboarding_station"> Where are you boarding? </label>
	<select name="onboarding_station" id="onboarding_station"> 
  		<optgroup label="Line N">
			<option value="timessquare_n">Times Square</option>
			<option value="34th_n">34th</option>
			<option value="28th_n">28th</option>
			<option value="23rd_n">23rd</option>
			<option value="unionsquare_n">Union Square</option>
			<option value="8th_n">8th</option>
  		<optgroup label="Line L">

			<option value="8th_l">8th</option>
			<option value="6th_l">6th</option>
			<option value="unionsquare_l">Union Square</option>
			<option value="23rd_l">23rd</option>
			<option value="3rd_l">3rd</option>
			<option value="1st_l">1st</option>  

  		<optgroup label="Line 6">
			<option value="grandcentral_6">Grand Central</option>
			<option value="33rd_6">33rd</option>
			<option value="28th_6">28th</option>
			<option value="23rd_6">23rd</option>
			<option value="unionsquare_6">Union Square</option>	
			<option value="astorplace_6">Astor Place</option>  
		</select>

	</div>


<div class="station_question">
	<label for="disembarking_station"> Where are you disembarking? </label>
	<select name="disembarking_station" id="disembarking_station"> 
  		<optgroup label="Line N">
			<option value="timessquare_n">Times Square</option>
			<option value="34th_n">34th</option>
			<option value="28th_n">28th</option>
			<option value="23rd_n">23rd</option>
			<option value="unionsquare_n">Union Square</option>
			<option value="8th_n">8th</option>
  		<optgroup label="Line L">

			<option value="8th_l">8th</option>
			<option value="6th_l">6th</option>
			<option value="unionsquare_l">Union Square</option>
			<option value="23rd_l">23rd</option>
			<option value="3rd_l">3rd</option>
			<option value="1st_l">1st</option>  

  		<optgroup label="Line 6">
			<option value="grandcentral_6">Grand Central</option>
			<option value="33rd_6">33rd</option>
			<option value="28th_6">28th</option>
			<option value="23rd_6">23rd</option>
			<option value="unionsquare_6">Union Square</option>	
			<option value="astorplace_6">Astor Place</option>  
		</select>
	</div>

<input type="submit" value="Find Route">

