
<ul class="thumbnail">
	<% @funnymemes.each do |funnymemes| %>
	<li>
		<a href="/funnymemes/<%= funnymemes['id'] %>">
			<img src="<%= funnymemes['thumb'] %>">
			<%= funnymemes['title'] %>
		</a>
	</li>
	<% end %>
</ul>
