<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>FunnyMemes Database</title>
	<link rel="stylesheet" href="/meme.css">
</head>
<body>
	
	<h1> Meme database </h1>
<div class="container">
	<nav>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/funnymemes/new">New Meme</a></li>
	</ul>
</nav>
	<%= yield %>
</div>

</body>
</html>