<form action="/mountains" method="POST">

	<div class="input-group">
		<label for="mountain[name]">Mountain Name: </label>
		<input type="text" name="mountain[name]" id="mountain[name]" autofocus required>
	</div>
	<div class="input-group">
		<label for="mountain[height]">Mountain Height: </label>
		<input type="number" name="mountain[height]" id="mountain[height]">
	</div>
	<div class="input-group">
		<label for="mountain[image]">Mountain Image: </label>
		<input type="URL" name="mountain[image]" id='mountain[image]'>
	</div>
	<div class="input-group">
		<label></label>
		<button>Create Mountain</button>
	</div>
	
</form>