<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Movie DB</title>
		<link rel="stylesheet" href="normalizer.css">
		<link rel="stylesheet" href="style.css">
	</head>

	<body>

		<header>
	    	<div class="header"><h1>Film Posters</h1></div>
	    </header>
	    
		<div class="container">
			
			<%= yield %>
			<img src="http://www.filmgator.com/black/pics/tour_search.png">	
			
		</div>

		<footer>
		</footer>
	</body>

</html>