<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Movies</title>
	<link rel="stylesheet" href="normalize.css">
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<div class="main_container">
		<!-- BEGIN: Sticky Header -->
			<div class="header">
				<nav>
					<ul>
						<li><a href="/">MOVIE SEARCH</a></li>
						<li></li>
						<li></li>
					</ul>
				</nav>
			</div><!---//// closes header///-->

		<!-- END: Sticky Header -->

		<!-- BEGIN: Page Content -->
			<div class="content">


					<%= yield %>


			</div>
		<!-- END: Page Content -->

		<!-- BEGIN: Sticky Footer -->
			<div class="footer">
				<ul>
					<li></li>
					<li></li>
					<li></li>
				<ul>
			</div>
	</div>
</body>
</html>





