<div class="form_container">
	<form action='/search_results'>
		<input type="text" name="movie_title" placeholder="Enter Movie Title"></input>
				<button class="search_button">
			Search
		</button>
	</form>


		<h2><%= @title %></h2>
		<h3><%= @plot %></h3>
		<h3>Release Date: <%= @year %></h3>
		<h3><img src="<%= @poster %>"></h3>

<!-- 	</form> -->
</div>
