<!DOCTYPE html>

<html lang="en">
<head>
 	<meta charset="UTF-8">
 	<title>Search Movie</title>
 	<link rel="stylesheet" href="normalize.css">
 	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div class="container">
		<nav>
			<ul>
				<h1>
 					<a href="/">Movie Look Ups</a>	
 				</h1>
  			</ul>
		</nav>
			<%= yield %>
			<div class="footer">
 		<footer>&copy; 2014 etc </footer>
 			</div>
 	</div>
</body>
</html>