<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="UTF-8">
	<title>Forms Demo</title>
	<link rel="stylesheet" href="normalize.css">
	<link rel="stylesheet" href="style.css">
	</head>

	<body>
		<body>
			<div class="container">
				<nav>
					<h1>
					Forms Demo
					</h1>
					  <ul>
						  <li><a href="/">Home</a></li>
						  <li><a href="/about">About</a></li>
						  <li><a href="/faq">FAQ</a></li>
					  </ul> 
				</nav>
			<%= yield %>
		</div>
		<footer>
			&copy; 2014 Etc &lambda;
		</footer>
	</body>

</html>