


<div class="box static">
	static
</div>

<div class=" box relative">
	relative
</div>

<div class="box absolute">
	absolute
</div>

<div class="box fixed">
	fixed
</div>

<div class="box overflow-hidden">
Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense! In a comic, you know how you can tell who the arch-villain's going to be? He's the exact opposite of the hero. And most times they're friends, like you and me! I should've known way back when... You know why, David? Because of the kids. They called me Mr Glass.

Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. That's also clear. But for some reason, you and I react the exact same way to water. We swallow it too fast, we choke. We get some in our lungs, we drown. However unreal it may seem, we are connected, you and I. We're on the same curve, just on opposite ends.
</div>

<div class=" box absolute z-index1">
	z-index1
</div>

<div class="box absolute z-index2">
	z-index2
</div>

<div class="box absolute z-index3">
	z-index3
</div>

<div class="box goldfish">
	<a href="http://docs.emmet.io/" target="_blank">
	<img src="http://upload.wikimedia.org/wikipedia/commons/2/21/Celestial_eye_goldfish.jpg">
	</a>
</div>
