<form action="/oceans" method="post">
  <label>Name:</label>
  <input type="text" name="ocean[name]" autofocus>
  <label>Image:</label>
  <input type="text" name="ocean[image]">
  <label>Volume:</label>
  <input type="text" name="ocean[volume]">
  <label>Area:</label>
  <input type="text" name="ocean[area]">
  <label>Depth:</label>
  <input type="text" name="ocean[depth]">
  <label>Bounded By:</label>
  <input type="text" name="ocean[bounded_by]">

  <button>Create An Ocean!</button>
</form>