<!DOCTYPE HTML>

    <html lang="en">
    <head>
    <meta charset="utf-8">
    <title>Movie Kitty v3.0</title>

    <link href="bootstrap.css" rel="stylesheet">
    <link href="style2.css" rel="stylesheet">

    <!-- Google Web fonts -->
    <link href='http://fonts.googleapis.com/css?family=Quattrocento:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="bootstrap-responsive.css" rel="stylesheet">
    
    </head>

<!-- BODY STARTS HERE!!!!!!!!! -->

    <body>
    <!--******************** NAVBAR ********************-->
    <div class="navbar-wrapper">
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            
            <h1 class="brand"><a href="/">Movie Kitty v3.0</a></h1>
          </div>
          <!-- /.container -->
        </div>

        <!-- /.navbar-inner -->
      </div>
      <!-- /.navbar -->

    </div>
    <!-- /.navbar-wrapper -->
    <div id="top"></div>
   <!-- ******************** BODY ********************-->

<div>

            <%= yield %>
</div>
  <!-- ******************** Footer ********************-->
<div>
  <div class="container" style="text-align:center">
    <p>  </p>
    <p> &copy By the tail-ent Jade Feng. Web Development Immersive 6.  </p>
  </div>
</div>

    </body>
    </html>
