<h1>Add new mountain here</h1>
<br>
<form action="/mountains" method="post">

<label>Name:</label>
<input type="text" name="mountain[name]" autofocus>
<label>Country:</label>
<input type="text" name="mountain[country]">
<label>Elevation:</label>
<input type="text" name:="mountain[elevation]">
<label>Image:</label>
<input type="text"  name="mountain[image]">

<button>Create</button>

</form>
