<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Movie DB</title>
		<link rel="stylesheet" href="normalizer.css">
		<link rel="stylesheet" href="style.css">
		<link rel="icon" href="http://angryclownent.com/wp-content/uploads/2010/08/movie_popcorn-371-64x64.gif">
	</head>

	<body>

		<header>
	    	<div class="header"><h1>Film Posters</h1></div>
	    </header>
	    
		<div class="container">
			
			<%= yield %>
			
			
		</div>

		<footer>
		</footer>
	</body>

</html>