<!doctype html>
<html>
	<head>
		<meta charset = "UTF-8">
		<title>Movie I</title>
		<link rel="stylesheet" href="/normalize.css">
		<link rel="stylesheet" href="/style.css">
	</head>

	<body>
		<h1>Movie Show</h1>
		<%= yield %>
	</body>
</html>