<form action="/movie">
	<label for="movie_title">Please enter your search:</label>
	<input type="text" name="movie_title" id="movie_title" placeholder="Harry Potter"> 
	<button>Search</button>
</form>


