<h2>Rock, Paper, Scissors</h2>

<p>Choose your weapon!</p>

<div class="btn">
	<a href="/rps/play/rock"><button>Rock</button></a>
</div>


<div class="btn">
	<a href="/rps/play/paper"><button>Paper</button></a>
</div>


<div class="btn">
	<a href="/rps/play/scissors"><button>Scissors</button></a>
</div>