
<div>
	<h2><%= @qmap[request.path][0] %></h2>
	<ul>
		<% unless @qmap[request.path][3] %>
			<li><a class='btn_yes' href='<%= @qmap[request.path][1] %>' >Yes</a></li> 
			<li><a class='btn_no' href='<%= @qmap[request.path][2] %>'>No</a></li>
		<% else %>
			<li><a class='btn_done' href='<%= @qmap[request.path][3] %>'>Done</a></li>
		<% end %>

	</ul>
</div>


	