<div>
	<h2><%= @qmap[request.path][:question] %></h2>
	<ul>
		<% unless @qmap[request.path][:done_path] %>
			<li><a class='btn_yes' href='<%= @qmap[request.path][:yes_path] %>' >Yes</a></li> 
			<li><a class='btn_no' href='<%= @qmap[request.path][:no_path] %>'>No</a></li>
		<% else %>
			<li><a class='btn_done' href='<%= @qmap[request.path][:done_path] %>'>Done</a></li>
		<% end %>
	</ul>
</div>


	