<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>movies</title>
  <link rel="stylesheet" href="normalize.css">
  <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
	<center>
	   <div class="header"><h1>Welcome to Movie World!</h1></div>
	</center>
</header>

  <div class="container">

    <%= yield %>

  </div>

  </body>
  </html>

    