<div id="nonwrap">
	<header class="clearfix">
  		<h1><span> You have cat to be kitten me right meow. </span></h1>		
		<div class="container">
			<div class="row">
					
	<!-- THE FORM IS HERE -->
					<form action="/search_list"> 

					  <label for="movie_name">
					  	<h2>What a cat-astrophe! I'm a-fur-aid Movie Kitty couldn't find your mew-vie in our claw-lection. </h2> 
					  	<h2> You should try again.</h2>
					  </label>
					 
					  <input type="text" name="movie_name" placeholder="The AristoCats" class="cform-text" size="40" title="movie_name" required>

					  <input type="submit" value="Search Meow!" class="cform-submit">

					 </form>
					 
			</div>
		</div>
    </header>
 </div>