<h2>Secret Number</h2>

<p>I'm thinking of a number between 1-10, can you guess it?</p>

<form action="/secretnumber/guess">
	<label for="user_guess">Your Guess (1-10): </label>
	<input type="number" name="user_guess" required>
	<button>Guess!</button>
</form>