<!DOCTYPE html>
<head>
  <title>Welcome To The Movie Poster Database</title>
  
  <link rel="stylesheet" href="/normalize.css">
  <link rel="stylesheet" href="/style.css"> 
</head>

<div class="header">
	<h3> THE MOVIE DATABASE</h3>
</div>

<body>

	<div class="container">
			<%= yield %>
	</div>

</body>

<div class="footer">
	<h3> </h3>
</div>


