<!-- This page displays a single movie title, poster and plot -->

<div class="column">
	<img class="poster" src="<%= @movie['Poster'] %>">
</div>

<div class="column">
	<h2><%= @movie['Title'] %></h2>
	<h5><%= @movie['Plot'] %></h5>
</div>

