<section class="webdesigntuts-workshop">
	<form action='/' method="">
		<input type="search" name="movie_title" placeholder="Search..."></input>
		<button>Search</button>

			<p>
				<% if @poster %>
					The movie you have searched for is <%= params['movie_title'] %>
					<% else %>
					FREE MOVIE SEARCHES
					<% end %>
			</p>

			<p>
				<img src="<%= @poster %>">
			</p>
	</form>
</section>