<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Videos Database</title>
	<link rel="stylesheet" href="/videos.css"
</head>
<body>
	<div class="container">
	<h1>Videos DataBase</h1>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/videos/new">Add video</a></li>
			<li>Genres:</li>
			 <% @genres.each do |genre| %>
			 	<li><a href="/videos/genres/<%= genre['genre'] %>"><%= genre['genre'] %></a></li>
			 <%end%>
		</ul>
	</nav>
	<%= yield %>
	</div>
</body>
</html>