<form action="/mountains" method="post">
	<label>Mountain:</label>
	<input type="text" name="mountain[mountain]" autofocus>
	<label>Feet:</label>
	<input type="text" name="mountain[feet]" >
	<label>Country:</label>
	<input type="text" name="mountain[country]" >
	<label>Type:</label>
	<input type="text" name="mountain[category]" >
	<label>Eruption:</label>
	<input type="text" name="mountain[eruption]" >

	<button>Create!</button>
</form>