

<html>
<head>
		<link rel="stylesheet" href="/pair.css">
</head>
<body>
	<%= yield %>
<!-- <p> Do you have a test for that? </p>


<form action="/pair">
	
	<button> Yes </button>
	<button> No </button>

</form> -->

</body>
</html>