 /*!
 * LEGEND - Free Responsive One Page Template
 *
 * Copyright 2013
 * Created by: Inbetwin Network
 * URL: http://inbetw.in
 * Designed and built based on Twitter Bootstrap. */
img.resizing {
	max-width: 145px;
	height: auto;
}

.list_output_boxes {

	background-color: #FAFAFA;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
	padding: 1em;
	margin: 1em;
	display: inline-block;
	vertical-align: text-top;
	width: 150px;
	height: 300px;
	text-align: center;
	overflow: hidden;
}

.text_name {
	width: 100%;
	margin-bottom: 20px;
	position:absolute;                  /* added */
 	bottom:0;                           /* added */
  	left:0;  
  	text-align: center top;
}

div, article, section, header, footer, nav, li {
	position:relative;
}
.group:after {
	display:block;
	height:0;
	clear:both;
	content:".";
	visibility:hidden; /* For clearing */
}
body {
	background:#f0f0f0;
	color: #312A1E;
	font-size: 100%;
	font-family: 'Quattrocento', serif;
	padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */

}
::-moz-selection {
background:#f0bf00;
color:#333;
}
::selection {
background:#f0bf00;
color:#333;
}
/*---------- FORMS ----------*/

input[type=text], input[type=submit], textarea {
	width: 100%;
	padding: 0.5em;
	font-size: 1em;
	margin-bottom: 1.5em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
input, button, select, textarea {
	font-family: 'Quattrocento', serif;
}
/* ---------------------------------------------------------------------------------------------------------- 
02 Typography -----------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */
/*

14 / 16	= 		0.875em 		(14px equivalent)
16 / 16	= 		1em 			(16px equivalent)
18 / 16 = 		1.125em 		(18px equivalent)
21 / 16 = 		1.3125em 		(21px equivalent)
24 / 16 = 		1.5em 			(24px equivalent)
30 / 16 = 		1.875em 		(30px equivalent)

*/

p {
	font-size: 1em; /* 16px */
	line-height: 1.5; /* 24px */
	margin: 0 0 1.5em 0;
}
ul, ol {
	font-size: 1em; /* 16px */
	line-height: 1.5; /* 24px */
	margin: 0 0 1.5em 0;
}
body, input, textarea {
}
a:link, a:visited {
	color: #F1505A;
}
a:hover, a:active {
	color: #F1505A;
	text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal; /* reset default browser weight for our webfonts */
	font-family: 'Patua One', cursive;
}
h1 {
	font-size: 1.5em; /* 24px */
	line-height: 1; /* 24px */
	margin-top: 1.42em;
	margin-bottom: 0em;
}
h2 {
	font-size: 1.3125em; /* 21px */
	line-height: 1.1429; /* 24px */
	margin-top: 1.1429em;
	margin-bottom: 0em;
}
h3 {
	font-size: 1.125em; /* 18px */
	line-height: 1.3333; /* 24px */
	margin-top: 1.3333em;
	margin-bottom: 0em;
}
h4 {
	font-size: 1em; /* 16px */
	line-height: 1.5; /* 24px */
	margin-top: 1.5em;
	margin-bottom: 0em;
}
h5 {
	font-size: 0.875em; /* 14px */
	line-height: 1.7143; /* 24px */
	margin-top: 1.7143em;
	margin-bottom: 0em;
}
strong {
	font-weight:normal;
	font-family: 'Open Sans', sans-serif;
}
small {
	font-size: 0.75em; /* 12px */
	line-height: 2; /* 24px */
	margin-top: 2em;
	margin-bottom: 0em;
}
em {
	font-style: normal;
	font-family: 'Open Sans';
}

span {
	color:#f0bf00;

}
.muted {
	color: #A5A5A2;
	font-family: 'Quattrocento', serif;
}
.impressed {
	text-shadow:
 -1px -1px 0 rgba(0, 0, 0, 0.5), /* shadow */  1px 1px 0 rgba(255, 255, 255, 0.9); /* highlight */
}
.more-link {
	font-size: .875em; /* 14px */
	margin-top: 1.5em;
	font-family: 'Patua One', cursive;
}
.more-link:link, .more-link:visited {
	color: #f0bf00;
	text-transform: uppercase;
}
/* ---------------------------------------------------------------------------------------------------------- 
03 Non-semantic ------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */


.hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	font-size: 1em;
}
.alignright {
	text-align: right;
}
.alignleft {
	text-align: left;
}
.aligncenter {
	text-align: center;
}
.medium {
	font-weight: normal;
	font-family: 'Quattrocento', serif;
}
/* ---------------------------------------------------------------------------------------------------------- 
04 Navbar ------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */

.navbar-fixed-top .container {
/* Uncomment to make nav expand full width */
 /*	width: auto; */
}
.navbar .brand {
	margin-left:0;
	padding: 0;
	margin-top: 1.05em;
}
.navbar .brand a {
	padding: 0;
	color: #fff;
	font-size: 1.75em;
	margin-left: 0;
	font-weight: normal;
	font-family: 'Patua One', cursive;
}
.navbar .brand a:hover {
	text-decoration: none;
	color:#f0bf00;
 transition: color .15s linear;
 -webkit-transition: color .15s linear;
 -moz-transition: color .15s linear;
}
.navbar .brand a:focus {
	outline: none;
}
.navbar-inner {
	min-height: 4.75em;
}
.navbar-inverse .navbar-inner {
	background-repeat: repeat;
	background-color: #0b333f;
	border-color: #f0bf00;
}
.navbar-wrapper {
	overflow:hidden;/* No fixed height, will break collapsible nav */
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
	text-shadow: none;
}

.brand p {
	text-align: right;
}
/* ---------------------------------------------------------------------------------------------------------- 
05 Single-Page Sections ------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */
#headerwrap {
	width: 100%;
	background: url(http://www.theshiznit.co.uk/media/2012/May/animals-cats.jpg) #0b333f no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	;
	min-height: 600px;
	margin-top: -60px;
	padding-top:160px;
	text-align:center;
}
#headerwrap h1 {
	color: #FFFFFF;
	font-family: 'Patua One', cursive;
	font-size: 4em;
	font-weight: 400;
	margin: 1em 0;
}
#headerwrap h2 {
	color: #FFFFFF;
	font-family: 'Open Sans', sans serif;
	font-size: 2em;
	font-weight: normal;
	margin: 0.5em 0;
	text-shadow: 1px 1px 1px #333333;
}
#headerwrap h1 span {
	color:#f0bf00;
}
#headerwrap input[type=text] {
	background: rgba(227, 231, 228, 1);
	font-family: 'Open Sans', sans serif;
	font-size: 1.3125em;
	border: 0;
	text-align: center;
	vertical-align: middle;
	margin-bottom:0 !important;
}
#headerwrap input[type=text]:focus {
	background: #43413e;
	color: #eff1ef;
	transition: background 0.25 ease-in;
	-moz-transition: background 0.25 ease-in;
	-webkit-transition: background 0.25 ease-in;
}
#headerwrap input[type=text] {
	height: 2.9em;
	width:50%;
}
#headerwrap input[type=submit] {
	font-family: 'Patua One', cursive;
	color: #fff;
	width: 185px;
	height: 2.9em;
	font-size: 1.3125em; /* 21px */
	padding:0.5em;
	letter-spacing: 0.05em;
	margin: 0;
	border: 0;
	text-transform: none;
	background: #f0bf00 !important;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}


/*################################## */

#nonwrap {
	width: 100%;
	background: url(http://epitomeabsolute.com/home/wp-content/uploads/2013/11/GrumpyCatScoreCardZero.jpg) #0b333f no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	;
	min-height: 600px;
	margin-top: -60px;
	padding-top:160px;
	text-align:center;
}
#nonwrap h1 {
	color: #FFFFFF;
	font-family: 'Patua One', cursive;
	font-size: 4em;
	font-weight: 400;
	margin: 1em 0;
}
#nonwrap h2 {
	color: #FFFFFF;
	font-family: 'Open Sans', sans serif;
	font-size: 2em;
	font-weight: normal;
	margin: 0.5em 0;
	text-shadow: 1px 1px 1px #333333;
}
#nonwrap h1 span {
	color:#f0bf00;
}
#nonwrap input[type=text] {
	background: rgba(227, 231, 228, 1);
	font-family: 'Open Sans', sans serif;
	font-size: 1.3125em;
	border: 0;
	text-align: center;
	vertical-align: middle;
	margin-bottom:0 !important;
}
#nonwrap input[type=text]:focus {
	background: #43413e;
	color: #eff1ef;
	transition: background 0.25 ease-in;
	-moz-transition: background 0.25 ease-in;
	-webkit-transition: background 0.25 ease-in;
}
#nonwrap input[type=text] {
	height: 2.9em;
	width:50%;
}
#nonwrap input[type=submit] {
	font-family: 'Patua One', cursive;
	color: #fff;
	width: 185px;
	height: 2.9em;
	font-size: 1.3125em; /* 21px */
	padding:0.5em;
	letter-spacing: 0.05em;
	margin: 0;
	border: 0;
	text-transform: none;
	background: #f0bf00 !important;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
#nonwrap input[type=submit]:hover, #nonwrap input[type=submit]:active {
	background: #43413e !important;
}

/*#######################*/
article.post {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.7);
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
	height: 600px;
	margin-bottom: 50px;
}
article .inside {
	margin: 18px 24px 24px;
	padding-top: 1em;
	background: url("../img/dot-row-2.png") repeat-x scroll 0 0 transparent !important;
}
