<!-- <form action="/results">
	<input name="movie_search" placeholder="Enter a movie here">
	<button>SEARCH</button>
</form>
 -->
<!-- <center>
<form action="/results" id="search">
  <input name="movie_search" type="text" size="40" placeholder="Enter movie name here" />
	<button>SEARCH</button>
	</center>
</form> -->

<a href="/search">
<img class="search_icon" id="search_icon" src="search_icon"> </a> 






